header {
    background-color: #00021d;
    display:flex;
    justify-content: space-between;
    color:#e84fcb;
}

h1 {
    padding: 2% 0px 0px 0px;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.hero {
    background-image: url("../images/keyboard-background.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero img {
    height: 400px;
    padding-left: 100%;
}