:root {
    --background: #00021d;
    --fontColor:#e84fcb;
}

header {
    background-color: var(--background);
    display:flex;
    justify-content: space-between;
    color:var(--fontColor);
}

h1 {
    padding: 2% 0px 0px 0px;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.hero {
    background-image: url("../images/keyboard-background.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: right;
}

.hero img {
    height: 500px;
}

.title {
    min-height: 100%;
    text-align: left;
    padding-right: 2%;
    min-width: 20%;
    max-width: 20%;
}

h2 {
    font-size:42px;
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    padding-top: 3%;
    background-color: var(--background);
    color: var(--fontColor);
}

.about-me p {
    font-size: 20px;
    line-height: 1.6;
    width: 90%;
}
