:root {
    --background: #00021d;
    --fontColor:#e84fcb;
}
/* Header styling */

header {
    background-color: var(--background);
    display:flex;
    justify-content: space-between;
    color:var(--fontColor);
}

h1 {
    padding: 2% 0px 0px 0px;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* picture area styling */

.hero {
    background-image: url("../images/keyboard-background.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: right;
}

.hero img {
    height: 500px;
    padding-right: 20px;
}
/* about me styling  */

.title {
    display: flex;
    min-height: 100%;
    text-align: left;
    padding-right: 2%;
    padding-left: 1%;
    min-width: 20%;
    font-style:italic;
    flex-wrap:wrap;
}

h2 {
    font-size:42px;

}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    padding-top: 3%;
    background-color: var(--background);
    color: var(--fontColor);
}

.about-me p {
    font-size: 20px;
    line-height: 1.6;
    width: 90%;
}

/* example styling */

.examples {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
    color: var(--fontColor);
    flex-direction: column;
}

.box {
    width: 100%;
    height: 500px;
    display: flex;
    font-style:normal;
    justify-content:center;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5%;
}

.projectA {
    grid-column: 1/3;
    grid-row: span 2;
    background-image: url(../images/projectA.jpg);
}
.projectB {
    background-image: url(../images/projectB.jpg);
    background-size: 110%;
}
.projectC {
    background-image: url(../images/projectC.jpg);
    background-size: 100%;
}
.projectD {
    grid-column: 1/3;
    grid-row: span 2;
    background-image: url(../images/projectD.jpg);
}

.label {
    display:flexbox;
    color: blue;
}

/*footer styling*/

footer {
    color: var(--fontColor);
    background-color: var(--background);
}
footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    font-size: 30px;
    font-weight: bolder;
}

footer ul li a {
    padding: 2%;
    font-weight: bold;
}